@page "/categories"
@using ecommerce.Admin.Components.Pages.Modals
@using ecommerce.Admin.Domain.Interfaces
@using ecommerce.Core.Utils;
@using Microsoft.AspNetCore.Authorization
@layout MainLayout
@inject IStringLocalizer<Culture_TR> Loc

<PageTitle>Kategori Tanımları</PageTitle>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-6">
            <h1 class="h3 mb-0 text-gray-800">Kategori Tanımları</h1>
        </div>
        <div class="col-6 text-end">
            <RadzenButton Click="@AddButtonClick" Text="Yeni Kategori Ekle" Icon="add" ButtonStyle="ButtonStyle.Primary" />
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <RadzenAlert AlertStyle="AlertStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" AllowClose="false" Size="AlertSize.Small" Icon="info" class="rz-mb-4">
                 Kategorilerin sırasını değiştirmek için sürükleyip bırakabilirsiniz. Üst/Alt çizgiler sıralama, kategori üzerine bırakmak ise alt kategori yapar.
            </RadzenAlert>

            <div class="d-flex flex-column">
                @if (HierarchicalCategories != null)
                {
                    @for (int i = 0; i < HierarchicalCategories.Count; i++)
                    {
                        var category = HierarchicalCategories[i];
                        <RecursiveCategoryItem Category="@category" 
                                               Level="0" 
                                               Index="@i"
                                               OnEdit="@EditCategory" 
                                               OnDelete="@DeleteCategory" 
                                               OnStructureChanged="@LoadHierarchy" />
                    }
                }
                else
                {
                    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                }
            </div>
        </div>
    </div>
</div>
