@page "/scaleunits"
@using ecommerce.Admin.Domain.Dtos.ScaleUnitDto
@using ecommerce.Core.Utils;
@layout MainLayout
@inject IStringLocalizer<Culture_TR> Loc

<PageTitle>Ölçüm Cinsi Tanımları</PageTitle>

<RadzenCard class="mb-3" style="display: flex; align-items: center;">
    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;">
            <RadzenText Text="Ölçüm Cinsi Tanımları" TextStyle="TextStyle.H5" style="color:#598087" class="mt-2" />
        </div>
        <div style="float:right">
            <RadzenButton Icon="add_circle_outline" Text="Yeni Ölçüm Cinsi Ekle" Click="@AddButtonClick" Variant="Variant.Flat" class="mt-2" />
        </div>
    </div>
</RadzenCard>

<div class="row">
    <div class="col-md-12">
        <RadzenDataGrid @ref="radzenDataGrid" ColumnWidth="200px" AllowFiltering="true" FilterMode="FilterMode.Simple" AllowPaging="true" AllowSorting="true" PagerAlwaysVisible=true PageSize=25 AllowFilterDateInput=true TItem="ScaleUnitListDto" RowSelect="@EditRow" LoadData="@LoadData" Count="@count" Data="@scaleUnits" CellRender="@RowRender" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        EqualsText="@Loc.GetString("EqualsText")"
                        NotEqualsText="@Loc.GetString("NotEqualsText")"
                        LessThanText="@Loc.GetString("LessThanText")"
                        LessThanOrEqualsText="@Loc.GetString("LessThanOrEqualsText")"
                        GreaterThanText="@Loc.GetString("GreaterThanText")"
                        IsNullText="@Loc.GetString("IsNullText")"
                        IsNotNullText="@Loc.GetString("IsNotNullText")">


            <Columns>
                <RadzenDataGridColumn TItem="ScaleUnitListDto" Property="Id" Title="Id" Width="50px">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ScaleUnitListDto" Property="Name" Title="Ölçüm Cinsi">
                </RadzenDataGridColumn>               
                <RadzenDataGridColumn TItem="ScaleUnitListDto" Title="Aksiyon" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="scaleUnit">
                        @if (scaleUnit.Status != EntityStatus.Deleted)
                        {
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.ExtraSmall" Shade="Shade.Dark" Variant="Variant.Flat" Click=@(args => GridDeleteButtonClick(args, scaleUnit)) @onclick:stopPropagation="true" />
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
