@page "/activate-account"
<section class="section-activation section-lg-space">
    <div class="container-fluid-lg">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <div class="order-box p-4 shadow rounded-3 bg-white">

                    @if (IsSuccess)
                    {
                        <div class="checkmark text-center mb-4">
                            <svg class="checkmark__check" height="36" viewBox="0 0 48 36" width="48" xmlns="http://www.w3.org/2000/svg">
                                <path d="M47.248 3.9L43.906.667a2.428 2.428 0 0 0-3.344 0l-23.63 23.09-9.554-9.338a2.432 2.432 0 0 0-3.345 0L.692 17.654a2.236 2.236 0 0 0 .002 3.233l14.567 14.175c.926.894 2.42.894 3.342.01L47.248 7.128c.922-.89.922-2.34 0-3.23"></path>
                            </svg>
                        </div>
                        <h3 class="theme-color">@lang["ActiveAccount"]</h3>
                        <p class="text-content mt-2">@lang["ActiveAccountSucces"]<a href="/login" class="text-decoration-underline">@lang["ActiveLogin"]</a>.</p>
                    }
                    else if (IsFailed)
                    {
                        <div class="text-danger mb-3">
                            <i class="fa-solid fa-circle-xmark fa-3x"></i>
                        </div>
                        <h3 class="text-danger">@lang["ActiveFailed"]</h3>
                        <p class="text-content mt-2">@lang["ActiveFailed2"].</p>
                    }

                </div>
            </div>
        </div>
    </div>
</section>