@page "/forgot-password"

<section class="log-in-section section-b-space forgot-section">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="../assets/images/inner-page/forgot.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>@lang["RegisterContent"]</h3>
                            <h4>@lang["ForgotPassword"]</h4>
                        </div>

                        <div class="input-box">
                            <EditForm Model="@user" OnValidSubmit="ForgotPassword" class="row g-4">
                                <DataAnnotationsValidator/>
                                <ValidationSummary/>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <InputText id="email" class="form-control" @bind-Value="user.Email"/>
                                        <label for="email">@lang["ForgotPassword.Email"]</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-animation w-100" type="submit">@lang["ForgotPassword.Submit"]</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>