@page "/upsert-sssandblog"
@using ecommerce.Admin.Domain.Dtos.FrequentlyAskedQuestionsDto;
@using Blazored.FluentValidation
@attribute [Authorize]

<PageTitle>Ekle/Düzenle</PageTitle>
<div class="col-md-12">
    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Kayıt Edilemedi!</RadzenAlert>

    <RadzenTemplateForm TItem="FrequentlyAskedQuestionUpsertDto" Data="@sss" Visible="@(sss != null)" Submit="@FormSubmit" OnInvalidSubmit="ShowErrors">

        <FluentValidationValidator @ref="_fluentValidationValidator" />


        <div style="margin-bottom: 1rem" class="row">

            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Grup" Component="Group" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDown Data="@groups" style="display: block; width: 100%" @bind-Value="@sss.Group" Name="Group" 
                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                </div>
            </div>


            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Üst Grup" Component="ParentGroup" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDown Data="@sssList" style="display: block; width: 100%" @bind-Value="@sss.ParentId" Name="ParentId" TextProperty="Name"  ValueProperty="Id" AllowClear="true" 
                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                </div>
            </div>
                    <div style="margin-bottom: 1rem" class="row">
                                <div class="col-md-3">
                                    <RadzenLabel Text="Sıra" Component="Order" style="width: 100%" />
                                </div>
                                <div class="col-md-9">
                                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@sss.Order" Name="Order" />
                                </div>
                            </div>

            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Adı" Component="Name" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@sss.Name" Name="Name" />
                </div>
            </div>

            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="İçerik" Component="Content" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenHtmlEditor @bind-Value=@sss.Description style="height: 300px;"/>
                </div>
            </div>        
        </div>

        <div class="row">
            <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Kaydet" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Vazgeç" Variant="Variant.Flat" Click="@CancelButtonClick" />
            </div>
        </div>
    </RadzenTemplateForm>
</div>

