@using ecommerce.Admin.Domain.Dtos.CashRegisterDto
@using Radzen
@using Radzen.Blazor

@if (IsLoading)
{
    <div class="d-flex justify-content-center p-5">
        <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Medium" />
    </div>
}
else
{
    <RadzenTemplateForm Data="@CashRegister" Submit="@((CashRegisterUpsertDto args) => FormSubmit(args))">
        <RadzenStack Gap="1rem" class="rz-p-2 rz-p-md-4">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="6">
                    <RadzenLabel Text="Şirket" Component="CorporationId" />
                    <RadzenDropDown Name="CorporationId" Data="@Corporations" TextProperty="Name" ValueProperty="Id"
                                    @bind-Value="@CashRegister.CorporationId" Change="@OnCorporationChange"
                                    Style="width:100%" Placeholder="Şirket Seçiniz" />
                    <RadzenRequiredValidator Component="CorporationId" Text="Şirket seçimi zorunludur" DefaultValue="0" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="6">
                    <RadzenLabel Text="Şube" Component="BranchId" />
                    <RadzenDropDown Name="BranchId" Data="@Branches" TextProperty="Name" ValueProperty="Id"
                                    @bind-Value="@CashRegister.BranchId" Disabled="@(CashRegister.CorporationId == 0)"
                                    Style="width:100%" Placeholder="Şube Seçiniz" />
                    <RadzenRequiredValidator Component="BranchId" Text="Şube seçimi zorunludur" DefaultValue="0" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="6">
                    <RadzenLabel Text="Kasa Adı" Component="CRName" />
                    <RadzenTextBox Name="CRName" @bind-Value="@CashRegister.Name" Style="width:100%" />
                    <RadzenRequiredValidator Component="CRName" Text="Kasa adı zorunludur" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="6">
                    <RadzenLabel Text="Döviz Tipi" Component="CRCurrency" />
                    <RadzenDropDown Name="CRCurrency" 
                                    @bind-Value="@CashRegister.CurrencyId" 
                                    Data="@CurrencyOptions" 
                                    TextProperty="Text" 
                                    ValueProperty="Value" 
                                    Style="width:100%" 
                                    Placeholder="Seçiniz..." />
                    <RadzenRequiredValidator Component="CRCurrency" Text="Döviz seçimi zorunludur" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="6">
                    <RadzenLabel Text="Ödeme Tipi" Component="PaymentTypeId" />
                    <RadzenDropDown Name="PaymentTypeId" 
                                    @bind-Value="@CashRegister.PaymentTypeId" 
                                    Data="@PaymentTypeOptions" 
                                    TextProperty="Text" 
                                    ValueProperty="Value" 
                                    Style="width:100%" 
                                    Placeholder="Seçiniz..."
                                    Change="@OnPaymentTypeChange" />
                    <RadzenRequiredValidator Component="PaymentTypeId" Text="Ödeme tipi seçimi zorunludur" />
                </RadzenColumn>
                @if (ShowBankAccountDropdown)
                {
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenLabel Text="Banka Hesabı" Component="BankAccountId" />
                        <RadzenDropDown Name="BankAccountId"
                                        Data="@BankAccountOptions"
                                        TextProperty="AccountName"
                                        ValueProperty="Id"
                                        @bind-Value="@CashRegister.BankAccountId"
                                        TValue="int?"
                                        Style="width:100%"
                                        Placeholder="Banka seçiniz..."
                                        AllowClear="true"
                                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                        <RadzenRequiredValidator Component="BankAccountId" Text="Banka hesabı seçimi zorunludur" />
                    </RadzenColumn>
                }
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="6">
                    <RadzenLabel Text="Açılış Bakiyesi" Component="CROpening" />
                    <RadzenNumeric Name="CROpening" @bind-Value="@CashRegister.OpeningBalance" Style="width:100%" ShowUpDown="false" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenLabel Text="Açıklama" Component="CRDesc" />
                    <RadzenTextArea Name="CRDesc" @bind-Value="@CashRegister.Description" Style="width:100%" Rows="3" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                        <RadzenCheckBox @bind-Value="@CashRegister.IsDefault" Name="CRDefault" />
                        <RadzenLabel Text="Varsayılan Kasa mı?" Component="CRDefault" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
            
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-4">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Kaydet" ButtonStyle="ButtonStyle.Primary" Icon="save" />
                <RadzenButton Click="@CancelClick" ButtonStyle="ButtonStyle.Light" Text="İptal" Icon="cancel" />
            </RadzenStack>
        </RadzenStack>
    </RadzenTemplateForm>

}
